{% extends "archer/sql_base.html" %}

{% block db_content %}
    <script>
        var sidebar_database = document.getElementById('database_menu');
        var archer_bar = document.getElementById('sql_review');
        $(sidebar_database).addClass('active');
        $(archer_bar).addClass('active');
    </script>
<div class="container-fluid">
<div class="row clearfix">
	<div class="col-md-12 column">
		<div id="container-month" style="min-width:800px;height:400px">
			
		</div>
	</div>
	<div class="col-md-12 column">
		<div id="container-engineer" style="min-width:800px;height:400px">
			
		</div>
	</div>
</div>
</div>
</script>
{% endblock db_content %}

